!!!5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    
    %title 
      = data.page.title
    %meta{:content => data.page.description, :name => "description"}
    
    %meta{:content => "width=device-width", :name => "viewport"}
    
    = javascript_include_tag "site"
    = stylesheet_link_tag "site"

  %body
    %section#container
      %header#theHeader
        %h1 W-GOAT
      %div{:id => "main"}
        = yield_content :goat
        = yield
    %footer